@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #148233;
  

}
@theme{
    --color-bermuda: #78dcca;
      --primary: #148233;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
    --primary: #148233;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
      --primary: #148233;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}


.pattern-bg {
  position: absolute;
  top: -6rem;
  left: -6rem;
  width: calc(100% + 12rem);
  right: -6rem;
  bottom: -6rem;
  z-index: -1;
opacity: 0.3;
background-image:  linear-gradient(#9696ff 3.3000000000000003px, transparent 3.3000000000000003px), linear-gradient(to right, #9696ff 3.3000000000000003px, transparent 3.3000000000000003px);
background-size: 66px 66px;
-webkit-mask: radial-gradient(ellipse 70% 40% at center, rgb(15 23 42) 0%, transparent 70%);
mask:radial-gradient(ellipse 70% 60% at center, rgb(15 23 42) 0%, transparent 70%);
}

